<div ng-app="appoints" class="row">
    <div style="font-size: larger;padding-left: 1%;">
        <a class="dropdown-toggle" role="button" title="Go to Dashboard" id="patient{{$index}}" href=""
            ng-click="goToDashboard()"><span class="glyphicon glyphicon-circle-arrow-left"></span>Go to dashboard</a>
    </div>
    <div class="col-md-6">
        <h2 style="text-align: center;"><b>Appointment Details</b></h2>

        <form role="form" name="form">
            <div class="form-group">
                <label for="doctor">Doctor</label>
                <span class="mandatoryField" style="color: red;">*</span>
                <select class="form-control" id="doctor" ng-readonly="{{isreadonly}}"
                    ng-options="doctor as doctor.UserDetails.FirstName for doctor in doctors track by doctor.DoctorId"
                    ng-model="doctor" ng-change="optionChange()" required>
                    <option value="" disabled selected>Select your option</option>
                </select>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <span class="mandatoryField" style="color: red;">*</span>
                <input type="text" class="form-control" id="title" placeholder="Enter appointment description"
                    ng-model="editAppointment.Title" ng-readonly="{{isreadonly}}" required>
            </div>
            <div class="form-group">
                <label for="dateAndTime">Appointment date and time</label>
                <span class="mandatoryField" style="color: red;">*</span>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                        <div class="input-group">
                            <input type="text" required data-date-time-input="MM/DD/YYYY HH:mm:ss" class="form-control"
                                data-ng-model="editAppointment.DateAndTime" ng-readonly="{{isreadonly}}" required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="editAppointment.DateAndTime" ng-readonly="{{isreadonly}}"
                            data-datetimepicker-config="{ dropdownSelector: '#dropdown1', startView: 'hour', minuteStep: 15 }">
                        </datetimepicker>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="duration">Duration</label>
                <span class="mandatoryField" style="color: red;">*</span>
                <select class="form-control" id="duration" ng-model="editAppointment.Duration"
                    ng-readonly="{{isreadonly}}" required>
                    <option value="15">15 minutes</option>
                    <option value="30">30 minutes</option>
                    <option value="60">60 minutes</option>
                    <option value="90">90 minutes</option>
                </select>
            </div>
            <div class="form-group">
                <label for="remarks">Remarks</label>
                <textarea id="remarks" class="form-control" rows="4" placeholder="Enter additional remarks"
                    ng-model="editAppointment.Remarks"></textarea>
            </div>
            <button type="submit" class="btn btn-default" ng-click="updateAppointment()"
                ng-disabled="form.$invalid">Submit</button>
        </form>

    </div>
</div>